* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background-color: #262626;
    color: #c9c9c9;
    font-family: Georgia, 'Times New Roman', Times, serif
}

a,
h1,
h2,
h3 {
    color: #ebebeb
}

h1 {
    text-align: center
}

.container {
    max-width: 550px;
    margin: 0 auto
}

.dish__image {
    max-width: 100%
}

.nav {
    list-style: none;
    padding: 0 6px
}

.nav__item {
    display: inline-block
}