body {
    background-color: #262626;
    color: #c9c9c9;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a,
h1,
h2,
h3 {
    color: #ebebeb
}

.container,
.dish__image {
    width: 550px;
    margin: 0 auto;
    box-sizing: border-box
}